* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
}


body {
  color: white;
  line-height: 2;
  font-family: Garamond;
  font-size: 16;
  font-weight: 600;
  width: 100%;
  height: 100%;
}

#backgroundimage {
  background-image: url("Fa20.png");
  background-position: center;
  width: 100vw;
  height: 400vh;
  background-repeat: no-repeat;
  position: relative;
}

a {
  text-decoration: none;
  color: white;
  display: inline-block;
  padding: 5px;
}

nav {
  overflow: auto;
}
